@page
@model PrivacyModel
@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>
    Product Vision:
    With the vision to promote re-usability, to maximize the resource value which helps in
    maintaining sustainable and cost saving environment, and from our experience as international students,
    we faced a few initial hurdles while settling in Seattle. We were always in search of online platforms to
    buy used items like electronics, home essentials, furniture, books, etc. This experience is our
    foundation for this website called SOLE.
    SOLE is a one stop solution for all SeattleU students to make their life easier and hassle free. It gives
    exclusive opportunity to SU students to sell, donate or rent used items. It provides a stress-free way
    to buy a wide range of used products directly from fellow peers which is more cost-efficient solution
    for students. Moving out students can also volunteer to donate their things which help others in their
    initial stage of their college.
    <br>
    <br><b>Team Member Contact Details</b></br>
    <br>Mujadid Khan  &nbsp;&nbsp;   Contact:mkhan4@seattleu.edu</br>
    <br>MD Nihal &nbsp;&nbsp; Contact:nmohammed1@seattleu.edu</br>
    <br> Jyothi Penmetsa &nbsp;&nbsp; contact:jpenmetsa@seattleu.edu</br>
    <br> Mujtaba Khan &nbsp;&nbsp; Contact:mkhan3@seattleu.edu</br>
</p>
